/*https://codepen.io/draexx/pen/wvqGbyp*/

*{
    margin: 0;
    padding: 0;
}

a,a:visited{
    text-decoration: none;
}

header{
    margin-top: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}

nav{
    top:-20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
    width: 90%;
    max-width: 800;
}

nav ul{
    list-style: none;
}

nav > ul{
    display: table;    
    width: 100%;
    background-color: black;
    position:relative;
}

nav > ul > li{
    display: table-cell;
}

/*submenu*/
nav > ul > li:hover > ul{
    background-color:red;
    display:block;
    height: 100%;
}

nav > ul > li > ul{
    display:block;
    position: absolute;
    background:#000;
    left:0;
    right:0;
    overflow: hidden;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav > ul li a{
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav > ul > li > ul > li a:hover{
    background-color: #5dada2;
}


nav > ul > li > a span{
    background-color:#174459;
    display:block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top:-55px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav > ul > li > a:hover > span{
    top:0;
}

/* coloca icones a sobre*/
nav > ul > li > a > .icona{
    display:block;
    line-height: 60px;
}







.nom{
    font-family: 'Raleway', sans-serif;
    margin: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
}

img{
    width: 30%;
    margin: 1%;
}

@media screen and (max-width: 800px) {
    img{
        width: 46%;
        margin: 1%;
    }
    .nom{
        width: 40%;
    }
}

@media screen and (max-width: 360px) {
    img{
        width: 98%;
        margin: 1%;
    }

    .nom{
        width: 52%;
    }
}